body {
  background: #1b1e47;
  overflow: hidden;
}

#nom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#icons {
  width: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.5em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#icons a {
  margin: 0;
}

#cv {
  font-family: "Righteous", cursive;
  text-decoration: none;
  font-size: 4em;
  color: #ffa82d;
  -webkit-transition: 0.3s color linear;
  transition: 0.3s color linear;
}

#cv:hover {
  color: white;
}

.icon {
  font-size: 4em;
  color: #ffa82d;
  -webkit-transition: 0.3s color linear;
  transition: 0.3s color linear;
}

.icon:hover {
  color: white;
}

h1 {
  font: 100% "Righteous", cursive;
  color: white;
  font-weight: 400;
  font-size: 8em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  word-wrap: break-word;
  text-transform: uppercase;
  margin-bottom: 0;
  width: fit-content;
}

#primary {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10%;
  height: 100%;
}

@media (max-width: 800px) {
  #primary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

#rectangles {
  -ms-grid-column-align: center;
      justify-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "photo jeux" "design illus";
}

#web {
  margin-top: 2em;
  width: 17em;
  height: 12em;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: design;
  background: #fe6560;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  font: 100% "Righteous", cursive;
  font-weight: 250;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s -webkit-transform linear;
  transition: 0.2s -webkit-transform linear;
  transition: 0.2s transform linear;
  transition: 0.2s transform linear, 0.2s -webkit-transform linear;
  margin-right: 1em;
}

#web:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

#photoshop {
  width: 12em;
  height: 17em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: photo;
  background: #005b96;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  font: 100% "Righteous", cursive;
  font-weight: 250;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s -webkit-transform linear;
  transition: 0.2s -webkit-transform linear;
  transition: 0.2s transform linear;
  transition: 0.2s transform linear, 0.2s -webkit-transform linear;
  justify-self: right;
  margin-right: 1em;
}

#photoshop:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

#jeux {
  width: 17em;
  height: 12em;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: jeux;
  background: #ffa82d;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  font: 100% "Righteous", cursive;
  font-weight: 250;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s -webkit-transform linear;
  transition: 0.2s -webkit-transform linear;
  transition: 0.2s transform linear;
  transition: 0.2s transform linear, 0.2s -webkit-transform linear;
  margin-left: 1em;
}

#jeux:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

#illustrator {
  width: 12em;
  height: 17em;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: illus;
  background: #4b86b4;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  font: 100% "Righteous", cursive;
  font-weight: 250;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s -webkit-transform linear;
  transition: 0.2s -webkit-transform linear;
  transition: 0.2s transform linear;
  transition: 0.2s transform linear, 0.2s -webkit-transform linear;
  margin-left: 1em;
  position: relative;
  bottom: 3em;
}

#illustrator:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

#presentation {
  color: white;
  font-family: "Nunito", sans-serif;
  width: 75%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5em;
}

footer h4 {
  color: white;
  font-family: "Righteous", cursive;
  font-weight: 150;
  margin-top: 0.7em;
  margin-bottom: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.ecranCategorie {
  position: fixed;
  top: 5em;
  left: 15em;
  width: 75%;
  height: 47em;
  border-radius: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.ecranCategorie i {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 0.5em;
  font-size: 3rem;
  color: white;
  -webkit-transition: 0.2s color linear;
  transition: 0.2s color linear;
}

.ecranCategorie i:hover {
  color: #1b1e47;
  cursor: pointer;
}

.ecranCategorie i:active {
  color: white;
}

.ecranCat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 15%;
}

.nomCat {
  margin-top: 0;
  font-size: 3rem;
  margin-left: 0.5em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#ecranWeb {
  background: #fe6560;
  display: none;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  border-radius: 10px;
}

#ecranJeux {
  background: #ffa82d;
  display: none;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  border-radius: 10px;
}

#ecranPhotoshop {
  background: #005b96;
  display: none;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  border-radius: 10px;
}

#ecranIllustrator {
  background: #4b86b4;
  display: none;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  border-radius: 10px;
}

.projet {
  -ms-flex-item-align: center;
      align-self: center;
  width: 20rem;
  height: 70%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.5s -webkit-filter linear;
  transition: 0.5s -webkit-filter linear;
  transition: 0.5s filter linear;
  transition: 0.5s filter linear, 0.5s -webkit-filter linear;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
          box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
}

.projetPetit {
  width: 15rem;
  height: 60%;
}

.projetPetitCreation {
  width: 13rem;
  height: 60%;
}

.projet:hover {
  cursor: pointer;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.projet:hover > .nomProjet {
  color: #1b1e47;
}

.nomProjet {
  font-size: 1.5em;
  color: white;
  font-family: "Righteous", cursive;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
  text-align: center;
  letter-spacing: 0.1em;
  text-align: center;
  width: 100%;
  -webkit-transform: translateY(3em);
          transform: translateY(3em);
  -webkit-transition: 0.5s color linear;
  transition: 0.5s color linear;
}

@-webkit-keyframes popupOpen {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes popupOpen {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes popupClose {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes popupClose {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.listeProjet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

#listeProjetPhoto {
  width: 95%;
  margin: 0 auto;
}

.slider {
  width: 100%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 2em;
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: #1b1e47;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > div {
  scroll-snap-align: start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 500px;
  margin-right: 50px;
  border-radius: 10px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 100px;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider > a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  background: #1b1e47;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
  color: white;
  font-family: "Righteous", cursive;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.slider > a:active {
  top: 1px;
  background: white;
}

.slider > a:focus {
  background: white;
}

.slider > a:hover {
  background: white;
  color: #1b1e47;
}

.nomProjetPop {
  font-size: 1.5em;
  color: white;
  font-family: "Righteous", cursive;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 3em;
  margin: 0;
}

.descriptionProjet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.popup {
  display: none;
  display: none;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  border-radius: 10px;
  position: fixed;
  top: 5em;
  left: 15em;
  width: 75%;
  height: 47em;
  z-index: 1000;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.popJeux {
  background: #ffa82d;
}

.popWeb {
  background: #fe6560;
}

.popPhoto {
  background: #005b96;
}

#date {
  font-size: 2em;
  margin: 0;
}

.txtDescription {
  font-family: "Nunito", sans-serif;
  font-size: 1.5em;
  text-align: justify;
  width: 75%;
  margin: 0;
  line-height: 1.5em;
}

.boutonPop {
  margin-top: 0.5em;
}

.lienProjet {
  font-family: "Righteous", cursive;
  color: white;
  font-size: 2em;
  text-decoration: none;
  -webkit-transition: 0.2s color linear;
  transition: 0.2s color linear;
}

.lienProjet:hover {
  color: #1b1e47;
}

.lienProjet:hover i {
  -webkit-transition: 0.2s color linear;
  transition: 0.2s color linear;
}

.lienProjet:hover > i {
  color: #1b1e47;
}

.lienProjet i {
  font-size: 1em;
}

iframe {
  width: 100%;
  height: 100%;
}

.blanc {
  color: white;
}

.liens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container {
  position: relative;
  width: 50%;
  cursor: pointer;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  opacity: 0;
}

.container:hover .overlay {
  height: 30%;
  opacity: 1;
}

.txtHoverTitre {
  font-family: "Righteous", cursive;
  color: white;
  font-size: 0.3em;
  text-align: justify;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: 0.3em;
}

.txtHoverDesc {
  margin-top: 1em;
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 0.2em;
  text-align: justify;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#lastSpark {
  background-image: url(/media/lastSpark/accueil.png);
}

#TIM2020 {
  background-image: url(/media/tim2020/accueil.png);
}

#VFM {
  background-image: url(/media/VFM/background.png);
}

#SLS {
  background-image: url(/media/SLS/backgroud.png);
}

#NIMH {
  background-image: url(/media/NIMH/background.png);
}

#ASSASINE {
  background-image: url(/media/ASSASINE/cover.png);
}

#MCDO {
  background-image: url(/media/MCDO/MCDO.png);
}

#TUTO {
  background-image: url(/media/TUTO/tuto1.png);
}

#OBJETS {
  background-image: url(/media/OBJETS/Gaudreau_Gem.png);
  background-size: contain;
  background-color: #8fa59f;
}

#ROVE {
  background-image: url(/media/ROVE/ROVE_BACKGROUND.png);
}

#BLOOD {
  background-image: url(/media/BLOOD/Gaudreau_Affiche.png);
}

#MANOR {
  background-image: url(/media/MANOR/MenuIntro_AssemblageJeu.png);
}

#OBE {
  background-image: url(/media/OBE/TP1_Gaudreau_1.0001.png);
}

#SM {
  background-image: url(/media/SM/Gaudreau_affiche.png);
}

.assasine {
  -webkit-transform: translateY(4em);
          transform: translateY(4em);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.animation {
  z-index: 1;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}

.svg {
  stroke: #8fa59f;
  position: absolute;
  bottom: -100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.svg:nth-child(1) {
  left: 14%;
  -webkit-animation: raise1 18s linear infinite;
          animation: raise1 18s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(-0.3) rotate(137deg);
          transform: scale(-0.3) rotate(137deg);
  z-index: -19;
  -webkit-filter: blur(-5px);
          filter: blur(-5px);
}

@-webkit-keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(26deg);
            transform: scale(-0.3) rotate(26deg);
  }
}

@keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(26deg);
            transform: scale(-0.3) rotate(26deg);
  }
}

.svg:nth-child(2) {
  left: 64%;
  -webkit-animation: raise2 14s linear infinite;
          animation: raise2 14s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(0) rotate(104deg);
          transform: scale(0) rotate(104deg);
  z-index: -18;
  -webkit-filter: blur(-4px);
          filter: blur(-4px);
}

@-webkit-keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(207deg);
            transform: scale(0) rotate(207deg);
  }
}

@keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(207deg);
            transform: scale(0) rotate(207deg);
  }
}

.svg:nth-child(3) {
  left: 78%;
  -webkit-animation: raise3 16s linear infinite;
          animation: raise3 16s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: scale(0.3) rotate(203deg);
          transform: scale(0.3) rotate(203deg);
  z-index: -17;
  -webkit-filter: blur(-3px);
          filter: blur(-3px);
}

@-webkit-keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(196deg);
            transform: scale(0.3) rotate(196deg);
  }
}

@keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(196deg);
            transform: scale(0.3) rotate(196deg);
  }
}

.svg:nth-child(4) {
  left: 25%;
  -webkit-animation: raise4 15s linear infinite;
          animation: raise4 15s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(0.6) rotate(108deg);
          transform: scale(0.6) rotate(108deg);
  z-index: -16;
  -webkit-filter: blur(-2px);
          filter: blur(-2px);
}

@-webkit-keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(200deg);
            transform: scale(0.6) rotate(200deg);
  }
}

@keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(200deg);
            transform: scale(0.6) rotate(200deg);
  }
}

.svg:nth-child(5) {
  left: 97%;
  -webkit-animation: raise5 19s linear infinite;
          animation: raise5 19s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: scale(0.9) rotate(334deg);
          transform: scale(0.9) rotate(334deg);
  z-index: -15;
  -webkit-filter: blur(-1px);
          filter: blur(-1px);
}

@-webkit-keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.9) rotate(42deg);
            transform: scale(0.9) rotate(42deg);
  }
}

@keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.9) rotate(42deg);
            transform: scale(0.9) rotate(42deg);
  }
}

.svg:nth-child(6) {
  left: 79%;
  -webkit-animation: raise6 18s linear infinite;
          animation: raise6 18s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(1.2) rotate(342deg);
          transform: scale(1.2) rotate(342deg);
  z-index: -14;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

@-webkit-keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.2) rotate(80deg);
            transform: scale(1.2) rotate(80deg);
  }
}

@keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.2) rotate(80deg);
            transform: scale(1.2) rotate(80deg);
  }
}

.svg:nth-child(7) {
  left: 68%;
  -webkit-animation: raise7 20s linear infinite;
          animation: raise7 20s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(1.5) rotate(120deg);
          transform: scale(1.5) rotate(120deg);
  z-index: -13;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

@-webkit-keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.5) rotate(335deg);
            transform: scale(1.5) rotate(335deg);
  }
}

@keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.5) rotate(335deg);
            transform: scale(1.5) rotate(335deg);
  }
}

.svg:nth-child(8) {
  left: 18%;
  -webkit-animation: raise8 9s linear infinite;
          animation: raise8 9s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(1.8) rotate(278deg);
          transform: scale(1.8) rotate(278deg);
  z-index: -12;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

@-webkit-keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.8) rotate(108deg);
            transform: scale(1.8) rotate(108deg);
  }
}

@keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.8) rotate(108deg);
            transform: scale(1.8) rotate(108deg);
  }
}

.svg:nth-child(9) {
  left: 89%;
  -webkit-animation: raise9 8s linear infinite;
          animation: raise9 8s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: scale(2.1) rotate(312deg);
          transform: scale(2.1) rotate(312deg);
  z-index: -11;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

@-webkit-keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.1) rotate(123deg);
            transform: scale(2.1) rotate(123deg);
  }
}

@keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.1) rotate(123deg);
            transform: scale(2.1) rotate(123deg);
  }
}

.svg:nth-child(10) {
  left: 77%;
  -webkit-animation: raise10 14s linear infinite;
          animation: raise10 14s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(2.4) rotate(19deg);
          transform: scale(2.4) rotate(19deg);
  z-index: -10;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.4) rotate(264deg);
            transform: scale(2.4) rotate(264deg);
  }
}

@keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.4) rotate(264deg);
            transform: scale(2.4) rotate(264deg);
  }
}
/*# sourceMappingURL=style.css.map */