body {
  background: #1b1e47;
  overflow: hidden;
}

#boutonMobile {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: none;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  margin-right: 0.2em;
}

@media (max-width: 1000px) {
  #boutonMobile {
    display: block;
  }
}

@media (max-width: 600px) {
  #boutonMobile {
    font-size: 3em;
  }
}

#boutonMobile:hover {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  cursor: pointer;
}

#nom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1000px) {
  #nom {
    text-align: center;
  }
}

@media (max-width: 600px) {
  #nom {
    font-size: 0.8em;
    margin-top: 3em;
  }
}

#icons {
  width: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.5em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#icons a {
  margin: 0;
}

#cv {
  font-family: "Righteous", cursive;
  text-decoration: none;
  font-size: 4em;
  color: #ffa82d;
  -webkit-transition: 0.3s color linear;
  transition: 0.3s color linear;
}

#cv:hover {
  color: white;
}

.icon {
  font-size: 4em;
  color: #ffa82d;
  -webkit-transition: 0.3s color linear;
  transition: 0.3s color linear;
}

.icon:hover {
  color: white;
}

h1 {
  font: 100% "Righteous", cursive;
  color: white;
  font-weight: 400;
  font-size: 8em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  word-wrap: break-word;
  text-transform: uppercase;
  margin: 0;
  width: fit-content;
  -webkit-transition: 0.2s -webkit-transform linear;
  transition: 0.2s -webkit-transform linear;
  transition: 0.2s transform linear;
  transition: 0.2s transform linear, 0.2s -webkit-transform linear;
}

@media (max-width: 1300px) {
  h1 {
    font-size: 5em;
  }
}

#primary {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10%;
  -webkit-transition: display 0.2s linear;
  transition: display 0.2s linear;
}

@media (max-width: 1000px) {
  #primary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 600px) {
  #primary {
    margin-top: 2;
  }
}

#rectangles {
  -ms-grid-column-align: center;
      justify-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "photo jeux" "design illus";
  -webkit-transition: 0.2s -webkit-transform linear;
  transition: 0.2s -webkit-transform linear;
  transition: 0.2s transform linear;
  transition: 0.2s transform linear, 0.2s -webkit-transform linear;
}

@media (max-width: 1300px) {
  #rectangles {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 600px) {
  #rectangles {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

#web {
  margin-top: 2em;
  width: 17em;
  height: 12em;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: design;
  background: #fe6560;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  font: 100% "Righteous", cursive;
  font-weight: 250;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
}

#web:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

#photoshop {
  width: 12em;
  height: 17em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: photo;
  background: #005b96;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  font: 100% "Righteous", cursive;
  font-weight: 250;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: right;
  margin-right: 1em;
}

#photoshop:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

#jeux {
  width: 17em;
  height: 12em;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: jeux;
  background: #ffa82d;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  font: 100% "Righteous", cursive;
  font-weight: 250;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1em;
}

#jeux:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

#illustrator {
  width: 12em;
  height: 17em;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: illus;
  background: #4b86b4;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  font: 100% "Righteous", cursive;
  font-weight: 250;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1em;
  position: relative;
  bottom: 3em;
}

#illustrator:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

#presentation {
  color: white;
  font-family: "Nunito", sans-serif;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5em;
}

@media (max-width: 1000px) {
  footer {
    display: none;
  }
}

footer h4 {
  color: white;
  font-family: "Righteous", cursive;
  font-weight: 150;
  margin-top: 0.7em;
  margin-bottom: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.ecranCategorie {
  position: absolute;
  top: 10%;
  left: 13%;
  width: 75%;
  height: 47em;
  border-radius: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media (max-width: 1300px) {
  .ecranCategorie {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}

@media (max-width: 1000px) {
  .ecranCategorie {
    height: 80%;
  }
}

@media (max-width: 600px) {
  .ecranCategorie {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.ecranCategorie i {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 0.5em;
  font-size: 3rem;
  color: white;
  -webkit-transition: 0.2s color linear;
  transition: 0.2s color linear;
}

.ecranCategorie i:hover {
  color: #1b1e47;
  cursor: pointer;
}

.ecranCategorie i:active {
  color: white;
}

.ecranCat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 15%;
  margin-top: 1em;
}

.nomCat {
  margin-top: 0;
  font-size: 3rem;
  margin-left: 0.5em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (max-width: 1300px) {
  .nomCat {
    font-size: 2em;
  }
}

#ecranWeb {
  background: #fe6560;
  display: none;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  border-radius: 10px;
}

#ecranJeux {
  background: #ffa82d;
  display: none;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  border-radius: 10px;
}

#ecranPhotoshop {
  background: #005b96;
  display: none;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  border-radius: 10px;
}

#ecranIllustrator {
  background: #4b86b4;
  display: none;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  border-radius: 10px;
}

.projet {
  -ms-flex-item-align: center;
      align-self: center;
  width: 20rem;
  height: 70%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.5s -webkit-filter linear;
  transition: 0.5s -webkit-filter linear;
  transition: 0.5s filter linear;
  transition: 0.5s filter linear, 0.5s -webkit-filter linear;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
          box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
}

@media (max-width: 1300px) {
  .projet {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
  }
}

@media (max-width: 600px) {
  .projet {
    height: 50%;
    width: 48%;
  }
}

.projetPetit {
  width: 15rem;
  height: 70%;
}

@media (max-width: 600px) {
  .projetPetit {
    height: 40%;
    width: 48%;
  }
}

.projetPetitCreation {
  width: 15rem;
  height: 15rem;
}

@media (max-width: 1300px) {
  .projetPetitCreation {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
    height: 70%;
  }
}

@media (max-width: 600px) {
  .projetPetitCreation {
    height: 40%;
    width: 48%;
  }
}

.projet:hover {
  cursor: pointer;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.projet:hover > .nomProjet {
  color: #1b1e47;
}

.nomProjet {
  font-size: 1.5em;
  color: white;
  font-family: "Righteous", cursive;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
  text-align: center;
  letter-spacing: 0.1em;
  text-align: center;
  width: 100%;
  -webkit-transform: translateY(3em);
          transform: translateY(3em);
  -webkit-transition: 0.5s color linear;
  transition: 0.5s color linear;
}

@-webkit-keyframes popupOpen {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes popupOpen {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes popupClose {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes popupClose {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.listeProjet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

@media (max-width: 1300px) {
  .listeProjet {
    overflow-y: scroll;
    -ms-flex-line-pack: baseline;
        align-content: baseline;
    height: 80%;
    margin-right: 2%;
  }
}

.listeProjet::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.listeProjet::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.listeProjet::-webkit-scrollbar-thumb {
  background: #1b1e47;
  border-radius: 10px;
}

.listeProjet::-webkit-scrollbar-track {
  background: transparent;
}

#listeProjetPhoto {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1300px) {
  #listeProjetPhoto {
    width: 98%;
    margin: 0;
    margin-right: 2%;
  }
}

.slider {
  width: 100%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 2em;
}

@media (max-width: 1000px) {
  .slider {
    padding-top: 3em;
    margin: 0;
  }
}

@media (max-width: 600px) {
  .slider {
    margin-bottom: 2em;
  }
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  overflow-x: hidden;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .slides {
    overflow-x: auto;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-overflow-scrolling: touch;
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: #1b1e47;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
}

.slides > div {
  scroll-snap-align: start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  margin-right: 50px;
  border-radius: 10px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 100px;
}

@media (max-width: 1000px) {
  .slides > div {
    margin: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.slides > div > img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  max-height: 60vh;
  border-radius: 10px;
}

.slides > div > img:hover {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .slides > div > img {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.slider > a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  background: #1b1e47;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin: 0 0 2rem 0;
  position: relative;
  color: white;
  font-family: "Righteous", cursive;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

@media (max-width: 1000px) {
  .slider > a {
    width: 1.5em;
    height: 1.5em;
    font-size: 2em;
  }
}

.slider > a:active {
  top: 1px;
  background: white;
}

.slider > a:focus {
  background: white;
}

.slider > a:hover {
  background: white;
  color: #1b1e47;
}

.container {
  position: relative;
  width: 100%;
  cursor: pointer;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  opacity: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 1000px) {
  .overlay {
    display: none;
  }
}

.container:hover .overlay {
  height: 45%;
  opacity: 1;
}

.txtHoverTitre {
  font-family: "Righteous", cursive;
  color: white;
  font-size: 0.3em;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: 0.3em;
}

.txtHoverDesc {
  margin-top: 1em;
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 0.2em;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
}

.fullscreen {
  margin-top: 1em;
  font-family: "Nunito", sans-serif;
  color: #ffa82d;
  font-size: 0.15em;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
  font-style: italic;
}

.nomProjetPop {
  font-size: 1.5em;
  color: white;
  font-family: "Righteous", cursive;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 3em;
  margin: 0;
  letter-spacing: 0.15em;
}

@media (max-width: 1000px) {
  .nomProjetPop {
    font-size: 2.5em;
  }
}

.descriptionProjet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.popup {
  display: none;
  display: none;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.52);
  border-radius: 10px;
  position: fixed;
  top: 10%;
  left: 13%;
  width: 75%;
  min-height: 47em;
  z-index: 1000;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .popup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    overflow-y: scroll;
    height: 80%;
  }
  .popup::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .popup::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .popup::-webkit-scrollbar-thumb {
    background: #1b1e47;
    border-radius: 10px;
  }
  .popup::-webkit-scrollbar-track {
    background: transparent;
  }
}

@media (max-width: 600px) {
  .popup {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.popJeux {
  background: #ffa82d;
}

.popWeb {
  background: #fe6560;
}

.popPhoto {
  background: #005b96;
}

#date {
  font-size: 2em;
  margin: 0;
}

.txtDescription {
  font-family: "Nunito", sans-serif;
  font-size: 1.5em;
  text-align: justify;
  width: 75%;
  margin: 0;
  line-height: 1.5em;
}

@media (max-width: 1000px) {
  .txtDescription {
    padding-top: 3em;
    padding-bottom: 2em;
  }
}

.boutonPop {
  margin-top: 0.5em;
}

@media (max-width: 1000px) {
  .boutonPop {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.lienProjet {
  font-family: "Righteous", cursive;
  color: white;
  font-size: 2em;
  text-decoration: none;
  -webkit-transition: 0.2s color linear;
  transition: 0.2s color linear;
}

.lienProjet:hover {
  color: #1b1e47;
}

.lienProjet:hover i {
  -webkit-transition: 0.2s color linear;
  transition: 0.2s color linear;
}

.lienProjet:hover > i {
  color: #1b1e47;
}

.lienProjet i {
  font-size: 1em;
}

iframe {
  width: 100%;
  height: 50vh;
}

.blanc {
  color: white;
}

.liens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#lastSpark {
  background-image: url(/media/lastSpark/accueil.png);
}

#TIM2020 {
  background-image: url(/media/tim2020/accueil.png);
}

#VFM {
  background-image: url(/media/VFM/background.png);
}

#SLS {
  background-image: url(/media/SLS/backgroud.png);
}

#NIMH {
  background-image: url(/media/NIMH/background.png);
}

#ASSASINE {
  background-image: url(/media/ASSASINE/cover.png);
}

#MCDO {
  background-image: url(/media/MCDO/MCDO.png);
  background-position: left;
}

#TUTO {
  background-image: url(/media/TUTO/tuto1.png);
}

#OBJETS {
  background-image: url(/media/OBJETS/Gaudreau_Gem.png);
  background-size: contain;
  background-color: #8fa59f;
}

#ROVE {
  background-image: url(/media/ROVE/ROVE_BACKGROUND.png);
}

#BLOOD {
  background-image: url(/media/BLOOD/background.png);
}

#MANOR {
  background-image: url(/media/MANOR/MenuIntro_AssemblageJeu.png);
}

#OBE {
  background-image: url(/media/OBE/TP1_Gaudreau_1.0001.png);
}

#SM {
  background-image: url(/media/SM/Gaudreau_affiche.png);
}

#TF {
  background-image: url(/media/TF/TempusFugi3.png);
  background-position: top;
}

.assasine {
  -webkit-transform: translateY(4em);
          transform: translateY(4em);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1000px) {
  .animGrand {
    display: none;
  }
}

.animIpad {
  display: none;
}

@media (max-width: 1000px) {
  .animIpad {
    display: block;
  }
}

@media (max-width: 600px) {
  .animIpad {
    display: none;
  }
}

.animPhone {
  display: none;
}

.animation {
  z-index: 1;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}

.svgGrand {
  stroke: #8fa59f;
  position: absolute;
  bottom: -100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.svgIpad {
  stroke: #8fa59f;
  position: absolute;
  bottom: -100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.svgGrand:nth-child(1) {
  left: 87%;
  -webkit-animation: raise1 18s linear infinite;
          animation: raise1 18s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(-0.3) rotate(155deg);
          transform: scale(-0.3) rotate(155deg);
  z-index: -19;
  -webkit-filter: blur(-5px);
          filter: blur(-5px);
}

@-webkit-keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(318deg);
            transform: scale(-0.3) rotate(318deg);
  }
}

@keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(318deg);
            transform: scale(-0.3) rotate(318deg);
  }
}

.svgGrand:nth-child(2) {
  left: 58%;
  -webkit-animation: raise2 21s linear infinite;
          animation: raise2 21s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(0) rotate(34deg);
          transform: scale(0) rotate(34deg);
  z-index: -18;
  -webkit-filter: blur(-4px);
          filter: blur(-4px);
}

@-webkit-keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(296deg);
            transform: scale(0) rotate(296deg);
  }
}

@keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(296deg);
            transform: scale(0) rotate(296deg);
  }
}

.svgGrand:nth-child(3) {
  left: 63%;
  -webkit-animation: raise3 12s linear infinite;
          animation: raise3 12s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(0.3) rotate(209deg);
          transform: scale(0.3) rotate(209deg);
  z-index: -17;
  -webkit-filter: blur(-3px);
          filter: blur(-3px);
}

@-webkit-keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(223deg);
            transform: scale(0.3) rotate(223deg);
  }
}

@keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(223deg);
            transform: scale(0.3) rotate(223deg);
  }
}

.svgGrand:nth-child(4) {
  left: 41%;
  -webkit-animation: raise4 14s linear infinite;
          animation: raise4 14s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(0.6) rotate(221deg);
          transform: scale(0.6) rotate(221deg);
  z-index: -16;
  -webkit-filter: blur(-2px);
          filter: blur(-2px);
}

@-webkit-keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(312deg);
            transform: scale(0.6) rotate(312deg);
  }
}

@keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(312deg);
            transform: scale(0.6) rotate(312deg);
  }
}

.svgGrand:nth-child(5) {
  left: 59%;
  -webkit-animation: raise5 8s linear infinite;
          animation: raise5 8s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: scale(0.9) rotate(331deg);
          transform: scale(0.9) rotate(331deg);
  z-index: -15;
  -webkit-filter: blur(-1px);
          filter: blur(-1px);
}

@-webkit-keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.9) rotate(123deg);
            transform: scale(0.9) rotate(123deg);
  }
}

@keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.9) rotate(123deg);
            transform: scale(0.9) rotate(123deg);
  }
}

.svgGrand:nth-child(6) {
  left: 65%;
  -webkit-animation: raise6 10s linear infinite;
          animation: raise6 10s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(1.2) rotate(198deg);
          transform: scale(1.2) rotate(198deg);
  z-index: -14;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

@-webkit-keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.2) rotate(327deg);
            transform: scale(1.2) rotate(327deg);
  }
}

@keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.2) rotate(327deg);
            transform: scale(1.2) rotate(327deg);
  }
}

.svgGrand:nth-child(7) {
  left: -19%;
  -webkit-animation: raise7 10s linear infinite;
          animation: raise7 10s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: scale(1.5) rotate(345deg);
          transform: scale(1.5) rotate(345deg);
  z-index: -13;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

@-webkit-keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.5) rotate(15deg);
            transform: scale(1.5) rotate(15deg);
  }
}

@keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.5) rotate(15deg);
            transform: scale(1.5) rotate(15deg);
  }
}

.svgGrand:nth-child(8) {
  left: 80%;
  -webkit-animation: raise8 20s linear infinite;
          animation: raise8 20s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(1.8) rotate(150deg);
          transform: scale(1.8) rotate(150deg);
  z-index: -12;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

@-webkit-keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.8) rotate(64deg);
            transform: scale(1.8) rotate(64deg);
  }
}

@keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.8) rotate(64deg);
            transform: scale(1.8) rotate(64deg);
  }
}

.svgGrand:nth-child(9) {
  left: 0%;
  -webkit-animation: raise9 10s linear infinite;
          animation: raise9 10s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(2.1) rotate(228deg);
          transform: scale(2.1) rotate(228deg);
  z-index: -11;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

@-webkit-keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.1) rotate(358deg);
            transform: scale(2.1) rotate(358deg);
  }
}

@keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.1) rotate(358deg);
            transform: scale(2.1) rotate(358deg);
  }
}

.svgGrand:nth-child(10) {
  left: 96%;
  -webkit-animation: raise10 11s linear infinite;
          animation: raise10 11s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(2.4) rotate(180deg);
          transform: scale(2.4) rotate(180deg);
  z-index: -10;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.4) rotate(72deg);
            transform: scale(2.4) rotate(72deg);
  }
}

@keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.4) rotate(72deg);
            transform: scale(2.4) rotate(72deg);
  }
}

.svgIpad:nth-child(1) {
  left: 20%;
  -webkit-animation: raise1 15s linear infinite;
          animation: raise1 15s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(-0.3) rotate(348deg);
          transform: scale(-0.3) rotate(348deg);
  z-index: -19;
  -webkit-filter: blur(-5px);
          filter: blur(-5px);
}

@keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(351deg);
            transform: scale(-0.3) rotate(351deg);
  }
}

.svgIpad:nth-child(2) {
  left: -49%;
  -webkit-animation: raise2 10s linear infinite;
          animation: raise2 10s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(0) rotate(160deg);
          transform: scale(0) rotate(160deg);
  z-index: -18;
  -webkit-filter: blur(-4px);
          filter: blur(-4px);
}

@keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(37deg);
            transform: scale(0) rotate(37deg);
  }
}

.svgIpad:nth-child(3) {
  left: 48%;
  -webkit-animation: raise3 18s linear infinite;
          animation: raise3 18s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: scale(0.3) rotate(345deg);
          transform: scale(0.3) rotate(345deg);
  z-index: -17;
  -webkit-filter: blur(-3px);
          filter: blur(-3px);
}

@keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(128deg);
            transform: scale(0.3) rotate(128deg);
  }
}

.svgIpad:nth-child(4) {
  left: 50%;
  -webkit-animation: raise4 16s linear infinite;
          animation: raise4 16s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(0.6) rotate(224deg);
          transform: scale(0.6) rotate(224deg);
  z-index: -16;
  -webkit-filter: blur(-2px);
          filter: blur(-2px);
}

@keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(81deg);
            transform: scale(0.6) rotate(81deg);
  }
}

.svgIpad:nth-child(5) {
  left: -21%;
  -webkit-animation: raise5 9s linear infinite;
          animation: raise5 9s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(0.9) rotate(151deg);
          transform: scale(0.9) rotate(151deg);
  z-index: -15;
  -webkit-filter: blur(-1px);
          filter: blur(-1px);
}

@keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.9) rotate(261deg);
            transform: scale(0.9) rotate(261deg);
  }
}

.svgIpad:nth-child(6) {
  left: 1%;
  -webkit-animation: raise6 15s linear infinite;
          animation: raise6 15s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(1.2) rotate(115deg);
          transform: scale(1.2) rotate(115deg);
  z-index: -14;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

@keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.2) rotate(107deg);
            transform: scale(1.2) rotate(107deg);
  }
}

.svgIpad:nth-child(7) {
  left: 24%;
  -webkit-animation: raise7 8s linear infinite;
          animation: raise7 8s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(1.5) rotate(159deg);
          transform: scale(1.5) rotate(159deg);
  z-index: -13;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

@keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.5) rotate(328deg);
            transform: scale(1.5) rotate(328deg);
  }
}

.svgIpad:nth-child(8) {
  left: 45%;
  -webkit-animation: raise8 7s linear infinite;
          animation: raise8 7s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(1.8) rotate(23deg);
          transform: scale(1.8) rotate(23deg);
  z-index: -12;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

@keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.8) rotate(284deg);
            transform: scale(1.8) rotate(284deg);
  }
}

.svgIpad:nth-child(9) {
  left: -41%;
  -webkit-animation: raise9 11s linear infinite;
          animation: raise9 11s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(2.1) rotate(211deg);
          transform: scale(2.1) rotate(211deg);
  z-index: -11;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

@keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.1) rotate(296deg);
            transform: scale(2.1) rotate(296deg);
  }
}

.svgIpad:nth-child(10) {
  left: -42%;
  -webkit-animation: raise10 10s linear infinite;
          animation: raise10 10s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: scale(2.4) rotate(90deg);
          transform: scale(2.4) rotate(90deg);
  z-index: -10;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.4) rotate(62deg);
            transform: scale(2.4) rotate(62deg);
  }
}

.svgPhone:nth-child(1) {
  left: 19%;
  -webkit-animation: raise1 16s linear infinite;
          animation: raise1 16s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: scale(-0.2) rotate(272deg);
          transform: scale(-0.2) rotate(272deg);
  z-index: -19;
  -webkit-filter: blur(-5px);
          filter: blur(-5px);
}

@keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(174deg);
            transform: scale(-0.3) rotate(174deg);
  }
}

.svgPhone:nth-child(2) {
  left: 19%;
  -webkit-animation: raise2 19s linear infinite;
          animation: raise2 19s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(-0.1) rotate(150deg);
          transform: scale(-0.1) rotate(150deg);
  z-index: -18;
  -webkit-filter: blur(-4px);
          filter: blur(-4px);
}

@keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(332deg);
            transform: scale(0) rotate(332deg);
  }
}

.svgPhone:nth-child(3) {
  left: 19%;
  -webkit-animation: raise3 20s linear infinite;
          animation: raise3 20s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: scale(0) rotate(287deg);
          transform: scale(0) rotate(287deg);
  z-index: -17;
  -webkit-filter: blur(-3px);
          filter: blur(-3px);
}

@keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(35deg);
            transform: scale(0.3) rotate(35deg);
  }
}

.svgPhone:nth-child(4) {
  left: 19%;
  -webkit-animation: raise4 21s linear infinite;
          animation: raise4 21s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(0.1) rotate(61deg);
          transform: scale(0.1) rotate(61deg);
  z-index: -16;
  -webkit-filter: blur(-2px);
          filter: blur(-2px);
}

@keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(248deg);
            transform: scale(0.6) rotate(248deg);
  }
}

.svgPhone:nth-child(5) {
  left: 19%;
  -webkit-animation: raise5 16s linear infinite;
          animation: raise5 16s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(0.2) rotate(246deg);
          transform: scale(0.2) rotate(246deg);
  z-index: -15;
  -webkit-filter: blur(-1px);
          filter: blur(-1px);
}

@keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.9) rotate(40deg);
            transform: scale(0.9) rotate(40deg);
  }
}

.svgPhone:nth-child(6) {
  left: 19%;
  -webkit-animation: raise6 13s linear infinite;
          animation: raise6 13s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(0.3) rotate(87deg);
          transform: scale(0.3) rotate(87deg);
  z-index: -14;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

@keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.2) rotate(215deg);
            transform: scale(1.2) rotate(215deg);
  }
}

.svgPhone:nth-child(7) {
  left: 19%;
  -webkit-animation: raise7 14s linear infinite;
          animation: raise7 14s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: scale(0.4) rotate(174deg);
          transform: scale(0.4) rotate(174deg);
  z-index: -13;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

@keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.5) rotate(250deg);
            transform: scale(1.5) rotate(250deg);
  }
}

.svgPhone:nth-child(8) {
  left: 19%;
  -webkit-animation: raise8 15s linear infinite;
          animation: raise8 15s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(0.5) rotate(296deg);
          transform: scale(0.5) rotate(296deg);
  z-index: -12;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

@keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.8) rotate(138deg);
            transform: scale(1.8) rotate(138deg);
  }
}

.svgPhone:nth-child(9) {
  left: 19%;
  -webkit-animation: raise9 13s linear infinite;
          animation: raise9 13s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(0.6) rotate(348deg);
          transform: scale(0.6) rotate(348deg);
  z-index: -11;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

@keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.1) rotate(107deg);
            transform: scale(2.1) rotate(107deg);
  }
}

.svgPhone:nth-child(10) {
  left: 19%;
  -webkit-animation: raise10 19s linear infinite;
          animation: raise10 19s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(0.7) rotate(16deg);
          transform: scale(0.7) rotate(16deg);
  z-index: -10;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.4) rotate(282deg);
            transform: scale(2.4) rotate(282deg);
  }
}

#iViewer {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#iViewer:hover {
  cursor: pointer;
}

#iViewer img {
  display: none;
  height: 100%;
  max-height: 80%;
  position: relative;
  border-radius: 10px;
  border: 0.5em solid #1b1e47;
  background-color: black;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 1000px) {
  #iViewer img {
    width: 80%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}

@-webkit-keyframes lightboxOuvre {
  from {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 0;
  }
  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes lightboxOuvre {
  from {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 0;
  }
  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes lightboxFerme {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes lightboxFerme {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@-webkit-keyframes fondOuvre {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fondOuvre {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fondFerme {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fondFerme {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 1.5em;
  padding: 0;
}

.logo {
  font-size: 3em;
}

@media (max-width: 600px) {
  .logo {
    font-size: 2em;
  }
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.closebtn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 0;
}

.x {
  font-size: 2em;
}

.txtNav {
  color: white;
  font-family: "Righteous", cursive;
  font-weight: 150;
  margin-top: 0.7em;
  margin-bottom: 0;
  -ms-grid-column-align: self-end;
      justify-self: self-end;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */