@import "./variables";

body{
   background:$couleur_fond;
   overflow: hidden;
}

#boutonMobile{
    align-self: flex-end;
    display: none;
    transition: transform 0.3s linear;
    margin-right: 0.2em;
    @include ipad{
        display: block;
    }
    @include phone{
        font-size: 3em;
    }
    &:hover{
     transform: rotate(-20deg);   
     cursor: pointer;
    }
}

#nom{
    display: flex;
    width: min-content;
    flex-flow: column;
    justify-content: center;

    @include ipad{
        text-align: center;
    }

    @include phone{
        font-size: 0.8em;
        margin-top: 3em;
    }

}

#icons{
    width: 7%;
    display: flex;
    font-size: 0.5em;
    justify-content: space-evenly;
}

#icons a{
    margin: 0;
}

#cv{
    font-family: $font;
    text-decoration: none;
    @include icons();
}


.icon{
@include icons();
}

h1{
    font: 100% $font;
    color: $couleur_nom;
    font-weight: weight(regular);
    font-size: 8em;
    width: fit-content;
    word-wrap: break-word;
    text-transform: uppercase;
    margin: 0;
    width: fit-content;
    @include smallPC{
        font-size: 5em;
    }
    transition: 0.2s transform linear;
}

#primary{
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
    transition: display 0.2s linear;
    @include ipad{
        flex-flow: column;
        align-items: center;
     }

     @include phone{
        margin-top: 2;
     }

     @include  vertical{
        flex-flow: column;
        align-items: center;
     }
}

#rectangles{
    justify-self: center;
    width: fit-content;
    display: grid;
    grid-template-areas: "photo jeux"
                         "design illus" ;
    
    @include smallPC{
       transform: scale(0.8);
    }

    @include phone{
        transform: scale(0.6) translateY(-5em);
        margin-bottom: 2em;
     }

    transition: 0.2s transform linear;
}


#web{
    margin-top: 2em;
    width: 17em;
    height: 12em;
    grid-area: design;
    background: couleurRect(design);
    @include categories();
    margin-right: 1em;
}

#photoshop{
    width: 12em;
    height: 17em;
    grid-area: photo;
    background: couleurRect(photoshop);
    @include categories();
    justify-self: right;
    margin-right: 1em;
}

#jeux{
    width: 17em;
    height: 12em;
    grid-area: jeux;
    background: couleurRect(jeux);
    @include categories();
    margin-left: 1em;
}

#illustrator{
    width: 12em;
    height: 17em;
    grid-area: illus;
    background: couleurRect(illustrator);
    @include categories();
    margin-left: 1em;
    position: relative;
    bottom: 3em;
}

#presentation{
    color: $couleur-nom;
    font-family: $fontDesc;
}

footer{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 5em;

    @include ipad{
        display: none;
     }
}

footer h4{
    color: $couleur-nom;
    font-family: $font;
    font-weight: weight(extraLight);
    margin-top: 0.7em;
    margin-bottom: 0;
}

header{
    display: flex;
    flex-flow: row;
}


