
*{
  box-sizing: border-box;
}

.wrapGrand{
	@include ipad{
		display: none;
	}
}

.wrapIpad{
	display: none;
	@include ipad{
		display: block;
	}
}

.animation{
    z-index: 1;
    perspective-origin: 50% 50%;
}


.svgGrand{
	stroke:$couleur-anim;
	position:absolute;
	bottom: -100vh;
	transform-style: preserve-3d;
}

.svgIpad{
	stroke:$couleur-anim;
	position:absolute;
	bottom: -100vh;
	transform-style: preserve-3d;
}

$total: 10;



@for $i from 1 through $total {
	$scale:random(2) - .4;
	
	.svgGrand:nth-child(#{$i}){
		left:random(120) * 1% - 20;		
		animation: raise#{$i} 6 + random(15) +s linear infinite;
		animation-delay:random(5) - 5 + s;
		transform: scale(.3 * $i - .6) rotate(random(360) + deg);
		z-index: $i - 20;
		filter: blur($i - 6 + px);

	  @keyframes raise#{$i} {
		  to{
			 bottom:150vh;
			 transform: scale(.3 * $i - .6) rotate(random(360) + deg);
			}
		}
	}
}

@for $i from 1 through $total {
	$scale:random(2) - .4;
	
	.svgIpad:nth-child(#{$i}){
		left:random(120) * 1% - 50;		
		animation: raise#{$i} 6 + random(15) +s linear infinite;
		animation-delay:random(5) - 5 + s;
		transform: scale(.3 * $i - .6) rotate(random(360) + deg);
		z-index: $i - 20;
		filter: blur($i - 6 + px);

	  @keyframes raise#{$i} {
		  to{
			 bottom:150vh;
			 transform: scale(.3 * $i - .6) rotate(random(360) + deg);
			}
		}
	}
}

