.nomProjetPop{
    @include nomProjet();
    align-self: flex-start;
    font-size: 3em;
    margin: 0;
    letter-spacing: 0.15em;

    @include ipad{
        font-size: 2.5em;
       }
}

.descriptionProjet{
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

.popup{
    display: none;
    @include ecranCategorie();
    position: fixed;
    top: 10%;
    left: 13%;
    width: 75%;
    min-height: 47em;
    z-index: 1000;
    flex-flow: row-reverse;
    overflow: hidden;
    @include ipad{
        flex-flow: column;
        overflow-y: scroll;
        height: 80%;

        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
          }
    
        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
          }
    
        &::-webkit-scrollbar-thumb {
            background: $couleur_fond;
            border-radius: 10px;
          }
        &::-webkit-scrollbar-track {
            background: transparent;
          }
    }

    @include phone{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

}

.popJeux{
    background: couleurRect(jeux);
}

.popWeb{
    background: couleurRect(design);
}

.popCreation{
    background: couleurRect(creation);
}

.popProjetRe{
    background: couleurRect(projetRecherche);
}

#date{
    font-size:2em;
    margin: 0;
}

.txtDescription{
    font-family: $fontDesc;
    font-size: 1.5em;
    text-align: justify;
    width: 75%;
    margin: 0;
    line-height: 1.5em;

    @include ipad{
        padding-top: 3em;
        padding-bottom: 2em;
      }
}

.boutonPop{
    margin-top: 0.5em;

    @include ipad{
        align-self: flex-end;
    }
}

.lienProjet{
    font-family: $font;
    color: $couleur-nom;
    font-size: 2em;
    text-decoration: none;
    transition: 0.2s color linear;
}

.lienProjet:hover{
    color: $couleur_fond;
}

.lienProjet:hover i{
    transition: 0.2s color linear;
}

.lienProjet:hover > i {
    color: $couleur_fond;
}

.lienProjet i{
    font-size: 1em;
}

iframe, video{
    width: 100%;
    height: 50vh;
}

.blanc{
    color: $couleur-nom;
}

.liens{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

