.nomProjetPop {
    @include nomProjet();
    align-self: flex-start;
    font-size: 3em;
    margin: 0;
    letter-spacing: 0.15em;
    @include ipad {
        font-size: 2.5em;
        margin: 2em 0 0 0;
    }
}

.descriptionProjet {
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.listePop {
    height: 100%;
    display: none;
}

.popup {
    display: none;
    @include ecranCategorie();
    height: 100%;
    z-index: 1000;
    flex-flow: row-reverse;
    overflow: hidden;
    @include ipad {
        flex-flow: column;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }
        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background: $couleur_fond;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
    }
    @include phone {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.popJeux {
    background: couleurRect(jeux);
}

.popWeb {
    background: couleurRect(design);
}

.popCreation {
    background: couleurRect(creation);
}

.popProjetRe {
    background: couleurRect(projetRecherche);
}

#date {
    font-size: 2em;
    margin: 0;
}

.txtDescription {
    font-family: $fontDesc;
    font-size: 1.5em;
    text-align: justify;
    width: 85%;
    margin: 2.5em 0 0 0;
    padding-right: 0.5em;
    line-height: 1.5em;
    max-height: 50%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: $couleur_fond;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    @include ipad {
        padding-top: 3em;
        padding-bottom: 2em;
        max-height: 100%;
        margin: 0;
    }
}

.boutonPop {
    margin-top: 0.5em;
    position: fixed;
    @include ipad {
        align-self: flex-end;
    }
}

.lienProjet {
    font-family: $font;
    color: $couleur-nom;
    font-size: 2em;
    text-decoration: none;
    transition: 0.2s color linear;
    overflow: scroll;
    overflow: hidden;
}

.lienProjet:hover {
    color: $couleur_fond;
}

.lienProjet:hover i {
    transition: 0.2s color linear;
}

.lienProjet:hover>i {
    color: $couleur_fond;
}

.lienProjet i {
    font-size: 1em;
}

iframe,
video {
    width: 100%;
    height: 50vh;
}

.blanc {
    color: $couleur-nom;
}

.liens {
    margin-top: 1em;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}