#lastSpark{
    background-image: url(/media/lastSpark/accueil.png);
}

#TIM2020{
    background-image: url(/media/tim2020/accueil.png);
}

#VFM{
    background-image: url(/media/VFM/background.png);
}

#SLS{
    background-image: url(/media/SLS/backgroud.png);
}

#NIMH{
    background-image: url(/media/NIMH/background.png);
}

#ASSASINE{
    background-image: url(/media/ASSASINE/cover.png);
}

#MCDO{
    background-image: url(/media/MCDO/MCDO.png);
    background-position: left;
}

#TUTO{
    background-image: url(/media/TUTO/tuto1.png);
}

#OBJETS{
    background-image: url(/media/OBJETS/Gaudreau_Gem.png);
    background-size: contain;
    background-color: $couleur-anim;
}

#ROVE{
    background-image: url(/media/ROVE/ROVE_BACKGROUND.png);
}

#BLOOD{
    background-image: url(/media/BLOOD/background.png);
}

#MANOR{
    background-image: url(/media/MANOR/MenuIntro_AssemblageJeu.png);
}

#OBE{
    background-image: url(/media/OBE/TP1_Gaudreau_1.0001.png);
}

#SM{
    background-image: url(/media/SM/Gaudreau_affiche.png);
}

#TF{
    background-image: url(/media/TF/TempusFugi3.png);
    background-position: top;
}

.assasine{
    transform: translateY(4em);
}