#lastSpark {
    background-image: url(/media/lastSpark/accueil.webp);
}

#TIM2020 {
    background-image: url(/media/tim2020/accueil.webp);
}

#VFM {
    background-image: url(/media/VFM/background.webp);
}

#SLS {
    background-image: url(/media/SLS/backgroud.webp);
}

#NIMH {
    background-image: url(/media/NIMH/background.webp);
}

#ASSASINE {
    background-image: url(/media/ASSASINE/cover.webp);
}

#MCDO {
    background-image: url(/media/MCDO/MCDO.webp);
    background-position: left;
}

#TUTO {
    background-image: url(/media/TUTO/tuto1.webp);
}

#OBJETS {
    background-image: url(/media/OBJETS/Gaudreau_Gem.webp);
    background-size: contain;
    background-color: $couleur-anim;
}

#ROVE {
    background-image: url(/media/ROVE/ROVE_BACKGROUND.webp);
}

#BLOOD {
    background-image: url(/media/BLOOD/background.webp);
    background-position: top;
}

#MANOR {
    background-image: url(/media/MANOR/MenuIntro_AssemblageJeu.webp);
}

#OBE {
    background-image: url(/media/OBE/TP1_Gaudreau_1.0001.webp);
}

#SM {
    background-image: url(/media/SM/Gaudreau_affiche.webp);
}

#TF {
    background-image: url(/media/TF/TempusFugi3.webp);
    background-position: top;
}

#Sem1 {
    background-image: url(/media/ProjetRecherche/Sem1/background.webp);
}

#TOKYO {
    background-image: url(/media/TOKYO/background.webp);
}