#lastSpark{
    background-image: url(/media/lastSpark/accueil.png);
}

#TIM2020{
    background-image: url(/media/tim2020/accueil.png);
}

#VFM{
    background-image: url(/media/VFM/background.png);
}

#SLS{
    background-image: url(/media/SLS/backgroud.png);
}

#NIMH{
    background-image: url(/media/NIMH/background.png);
}

#ASSASINE{
    background-image: url(/media/ASSASINE/cover.png);
}

#MCDO{
    background-image: url(/media/MCDO/MCDO.png);
}

#TUTO{
    background-image: url(/media/TUTO/tuto1.png);
}