.slider {
    width: 100%;
    text-align: center;
    align-self: center;
    margin-left: 2em;
    max-height: 60vh;
  }
  
  .slides {
    display: flex;
    border-radius: 10px;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    align-items: center;
    height: 100%;
    border-radius: 10px;
  }

  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    margin-right: 50px;
    border-radius: 10px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

  .slides > div > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: 60vh;
    border-radius: 10px;
    &:hover{
      cursor: pointer;
    }
  }
  
  .slider > a {
    display: inline-flex;
    width: 2rem;
    height: 2rem;
    background: $couleur_fond;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 2rem 0;
    position: relative;
    color: $couleur-nom;
    font-family: $font;
    transition: .5s ease;

  }
  .slider > a:active {
    top: 1px;
    background: $couleur-nom;
  }
  .slider > a:focus {
    background: white;
  }

  .slider > a:hover{
    background: $couleur_nom;
    color: $couleur_fond;
  }

  .container {
    position: relative;
    width: 100%;
    cursor: pointer;
    height: 100%;
    object-fit: contain;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.8);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    flex-flow: column;
    opacity: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .container:hover .overlay {
    height: 45%;
    opacity: 1;
  }

  .txtHoverTitre{
      font-family: $font;
      color: $couleur_nom;
      font-size: 0.3em;
      text-align: center;
      align-self: center;
      letter-spacing: 0.3em;
  }

  .txtHoverDesc{
    margin-top: 1em;
    font-family: $fontDesc;
    color: $couleur_nom;
    font-size: 0.2em;
    text-align: center;
    align-self: center;
    width: 80%;
}

.fullscreen{
  margin-top: 1em;
  font-family: $fontDesc;
  color: couleurRect(jeux);
  font-size: 0.15em;
  text-align: center;
  align-self: center;
  width: 80%;
  font-style: italic;
}