$couleur_fond: #1b1e47;
$font: 'Righteous', cursive;
$fontDesc:'Nunito', sans-serif;
$font-weights:(
    "extraLight":150,
    "light":250,
    "regular" :400,
    "medium":500,
    "bold":700
);
$couleur_nom : white;
$mobile:800px;
$couleurs-rect:(
    "design" : #fe6560,
    "photoshop" : #302b6d,
    "illustrator" : #49c3cf,
    "jeux" : #ffa82d
);

@mixin categories{
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 21px 6px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 0px 21px 6px rgba(0,0,0,0.52);
    box-shadow: 0px 0px 21px 6px rgba(0,0,0,0.52);
    font: 100% $font;
    font-weight: weight(light);
    color: $couleur-nom;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        transform: scale(1.1);
        cursor: pointer;
    }

    transition: 0.2s transform linear;
}

@mixin icons {
    font-size: 4em;
    color: couleurRect(jeux);
    margin-left: 0.4em;
    transition: 0.3s color linear;
    &:hover{
        color: white;
    }
}

@function couleurRect($nomRect)
{
    @return map-get($map: $couleurs-rect, $key: $nomRect);
}

@function weight($weight-name)
{
    @return map-get($map: $font-weights, $key: $weight-name);
}

@mixin mobile {
    @media(max-width:$mobile){
        @content;
    }
}

@mixin ecranCategorie {
    display: none;
    -webkit-box-shadow: 0px 0px 21px 6px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 0px 21px 6px rgba(0,0,0,0.52);
    box-shadow: 0px 0px 21px 6px rgba(0,0,0,0.52);
    border-radius: 10px;
}

@mixin nomProjet {
    font-size: 1.5em;
    color: $couleur_nom;
    font-family: $font;
    height: fit-content;
    align-self: flex-end;
    width: 100%;
    text-align: center;
}